:root{
    --primary-color:#08A6E4;
    --primary-shadow:rgba(7, 172, 230, .16);
    --red-accent:red;
    --green-aaccent:#55DFB4;
    --grey:#A5A5A5;
    --light-grey:#F7F7F7;
    --white:#FFFFFF;
    --black:#000000;

    --OS:Open Sans;
    --Ral:Raleway;
}
